fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0.8rem;
  box-sizing: border-box;
  padding: 1.2rem 3.2rem;
}

fieldset h2 {
  align-self: flex-start;
}

fieldset h2::after {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  background-image: linear-gradient(90deg, #0066cc, #fff 75%);
  margin-top: 0.4rem;
}
